@(currentUser: User, users: List[User], userForm: Form[User])(implicit flash: Flash)

@import helper._
@import tags._

@index(currentUser, "users") {
<div class="row-fluid" id="admin-users">
    <h2>@Messages("admin.user.list") (@users.size)</h2>

    @flashAlert("userSuccess")(flash)
    @form(routes.Admin.newUser, args = 'class -> "pull-left form-inline") {
        @error(userForm.errors)

        <input class="input-small" type="text" name="name" id="name" value="@userForm("name").value" />
        <input class="input-small" type="password" name="pwd" id="pwd" />
        <span>Admin:</span>
        <select name="admin" id="admin">
            <option value="false">@Messages("no")</value>
            <option value="true">@Messages("yes")</value>
        </select>

        <input class="btn btn-inverse" type="submit" value="@Messages("new")" />
    }

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>@Messages("admin.name")</th>
                <th>@Messages("admin.user.admin")</th>
                <th>@Messages("actions")</th>
            </tr>
        </thead>

        <tbody>
            @for(user <- users) {
            <tr>
                <td>@user.id</td>
                <td>@user.name</td>
                <td>@boolean2check(user.admin)</td>
                <td>
                	@** To avoid delete with the current connected user **@
                	@if(currentUser.id.get != user.id.get) {
                    <a class="btn btn-danger" href="@routes.Admin.deleteUser(user.id.get)">
                    	@Messages("delete")
                    </a>
                	}
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
