@(activeUserTasks: List[UserTask], isCurrentUser: Boolean = false)

<h4 class="border-bottom1">@Messages("builds.inprogress")</h4>

<table class="table table-striped">
	<thead>
		<tr>
			<th>@Messages("server")</th>
			<th>@Messages("since")</th>
			@if(isCurrentUser) {
			<th>@Messages("builds.started.status")</th>
			}
		</tr>
	</thead>
	<tbody>
	@for(userTask <- activeUserTasks) {
	<tr>
		<td>@userTask.server.name</td>
		<td>@userTask.task.since</td>
		@if(isCurrentUser) {
		<td>
			<a href="@routes.Tasks.stop(userTask.task.id.get)">
				<button class="btn btn-success" type="button">@Messages("builds.success")</button>
			</a>
			<a href="@routes.Tasks.fail(userTask.task.id.get)">
				<button class="btn btn-danger" type="button">@Messages("builds.inerror")</button>
			</a>
			<a href="@routes.Tasks.cancel(userTask.task.id.get)">
				<button class="btn btn-inverse" type="button">@Messages("builds.cancel")</button>
			</a>
		</td>
		}
	</tr>
	}
	</tbody>
</table>