@(user: User, newBuildForm: Form[Long], servers: List[(String, String)], currentUserBuilds: List[UserBuild], othersBuilds: List[UserBuild])

@import play.api._

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@import tags._


@main {
	@navbar(user)
} { 
} {
	@** Form to add new boot **@
	<h3>@Messages("builds.new.boot")</h3>
	@form(action = routes.Builds.start, args = 'class -> "form-inline") {
    	@select(field = newBuildForm("server"), options = servers, '_label -> Messages("server"))
    	<button type="submit" class="btn btn-inverse">@Messages("go")</button>
	}
	@userBuilds(currentUserBuilds, "builds.from.current.user", showUserName = false, isCurrentUser = true)
	@userBuilds(othersBuilds, "builds.from.others.user", showUserName = true)
}