@(endedUserTasks: List[UserTask])

@import utils._

<h4 class="border-bottom1">@Messages("builds.ended")</h4>

<table class="table">
	<thead>
		<tr>
			<th>@Messages("server")</th>
			<th>@Messages("builds.started.at")</th>
			<th>@Messages("duration")</th>
		</tr>
	</thead>
	<tbody>
	@for(userTask <- endedUserTasks) {
	<tr class="@if(userTask.task.failed) { error } else { success }">
		<td>@userTask.server.name</td>
		<td>@DateUtils.format(userTask.task.startedAt)</td>
		<td>@DateUtils.since(userTask.task.duration)</td>
	</tr>
	}
	</tbody>
</table>