@(user: User, totalDuration: Long, newBuildForm: Form[Long], servers: List[(String, String)], currentUserTasks: List[UserTask], othersTasks: List[UserTask])

@import play.api._

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@import utils._
@import tags._


@main {
	@navbar(user)
} {
	@herounit {
	<h1 id="clock">@Html(DateUtils.durationInSpans(totalDuration))</h1>
	}
} {
	@** Form to add new boot **@
	<h3>@Messages("builds.new.boot")</h3>
	@form(action = routes.Tasks.start, args = 'class -> "form-inline") {
    	@select(field = newBuildForm("server"), options = servers, '_label -> Messages("server"))
    	<button type="submit" class="btn btn-inverse">@Messages("go")</button>
	}
	@userTasks(currentUserTasks, "builds.from.current.user", showUserName = false, isCurrentUser = true)
	@userTasks(othersTasks, "builds.from.others.user", showUserName = true)
}